.super-mario {
  width: 150px;
  position: absolute;
}

.goomba {
  width: 80px;
  position: absolute;

  left: 80px;
  top: 280px;
}

.baloon {
  position: absolute;
  bottom: 200px;
  z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  bottom: 270px;
  left: 25px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 550px;
  left: 310px;
}
